body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url(bg-gunung.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    text-align: center;
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.weather {
    margin-top: 20px;
}

.weather p {
    margin: 10px 0;
    font-size: 18px;
}
